PRISMIC_REPO_NAME=your-repo-name
PRISMIC_ACCESS_TOKEN=your-access-token
PRISMIC_CUSTOM_TYPES_API_TOKEN=your-custom-types-api-token



BIG_COMMERCE_CLIENT_ID=
BIG_COMMERCE_CLIENT_SECRET=
BIG_COMMERCE_ACCESS_TOKEN=
BIG_COMMERCE_SITE_HASH=
